# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# local environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Vercel
.vercel/

# OS
.DS_Store

# IDE
.vscode/
.idea/