@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f4f5f0;
}

body {
  color: #1d2321;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
  }
}
